@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Abel');


body {
  margin: 0;
  padding: 0;
  font-family: 'Exo', 'Quicksand', sans-serif;
}

* {
  color: #222;
}
